@import '../abstracts/mixins';
@import '../abstracts/variables';

.banner {
    height: 614px;
    background-image: url('../images/banner/banner.jpg');
    background-size: cover;
    background-position: center;

    @media (min-width: $dp-tablet) {
        height: 800px;
    }

    @media (min-width: $dp-desctop) {
        @include flexcenter;
    }

    div {
        height: 100%;
    }
}

.banner__content-wrapper {
    text-align: center;
    padding-top: 50px;
    height: 100%;
    position: relative;
    @include flexcenter(space-between, center, column);

    @media (min-width: $dp-tablet) {
        padding-top: 65px;
    }

    @media (min-width: $dp-desctop) {
        padding-top: 82px;
    }
}


.banner__title {
    h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: $secondary-color;
        margin-bottom: 21px;

        @media (min-width: $dp-tablet) {
            font-size: 72px;
            line-height: 72px;
            margin-bottom: 17px;
        }

        @media (min-width: $dp-desctop) {
            font-size: 82px;
            line-height: 82px;
            margin-bottom: 17px;
        }
    }

    p {
        &:first-of-type {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: $main-color;
            margin-bottom: 16px;

            @media (min-width: $dp-tablet) {
                font-size: 24px;
                margin-bottom: 16px;
                text-transform: lowercase;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            @media (min-width: $dp-desctop) {
                font-size: 30px;
                line-height: 30px;
            }
        }

        &:last-of-type {
            color: $third-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;

            @media (min-width: $dp-desctop) {
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
}

.btn--large {
    width: 290px;
    font-size: 18px;
    line-height: 19px;
    padding: 13px 0 13px 0;

    @media (min-width: $dp-tablet) {
        width: 390px;
        font-size: 21px;
        line-height: 22px;
        padding: 20px 0 20px 0;
    }

    @media (min-width: $dp-desctop) {
        outline: 2px solid $main-color;
        outline-offset: -2px;
    }
}

.banner__btn {
    position: relative;
    top: 23px;

    @media (min-width: $dp-tablet) {
        top: 29px;
    }
}