@import '../abstracts/mixins';
@import '../abstracts/variables';



.header {
    padding: 32px 5px 30px 6px;
    background: #27262A;
    user-select: none;

    @media (min-width: $dp-tablet) {
        padding: 22px 10px 0 10px;
    }

    @media (min-width: $dp-desctop) {
        padding: 29px 5.797101% 30px 5.797101%;
        background: url('../images/banner/banner.jpg');
        @include flexcenter;        
    }
}

.header__content-wrapper {
    @include flexcenter(space-between);

    @media (min-width: $dp-tablet) {
        flex-wrap: wrap; 
    }

    @media (min-width: $dp-desctop) {
        display: grid;
        grid-template-areas: 
        "logo nav button";
        grid-template-columns: 152px 1fr 145px;
    }
}

.header__logo {
    @include flexcenter;

    .header__icon {
        background-image: url('../images/header/Header-logo.svg');
        width: 43px;
        height: 41px;
        transition: 0.4s;
    }
    
    @media (min-width: $dp-tablet) {
        justify-content: flex-start;
    }

    @media (min-width: $dp-desctop) {
        grid-area: logo;
        
        &:hover {

            .header__icon {
                background-image: url('../images/header/Header-logo-hover.svg');
            }

            .header__logo-info {
                color: $secondary-color;
            }
        }
    }

    .header__logo-info {
        display: none;

        @media (min-width: $dp-tablet) {
            display: block;
            font-family: Lato;
            text-transform: uppercase;
            color: $main-color;
            font-weight: 700;
            font-size: 24px;
            line-height: 16px;
            padding-left: 17px;
            transition: 0.4s;
        }
    }
}

.header__btn {

    @media (min-width: $dp-tablet) {
        flex: 0 1 145px;
    }

    @media (min-width: $dp-desctop) {
        grid-area: button;
    }
}

.btn--small {
    font-size: 15px;
    line-height: 15px;
    padding: 11px 0 11px 0;
    width: 119px;

    @media (min-width: $dp-tablet) {
        width: 145px;
    }
}

.header__nav {
    position: relative;

    @media (min-width: $dp-tablet) {
        flex: 0 1 100%;
    }

    @media (min-width: $dp-desctop) {
        grid-area: nav; 
        margin-right: 30px;
        justify-self: end;
    }

    @media(min-width: 1060px) {
        margin-right: 48px;
    }
    
}

.header__burger-menu {
    @include burger-menu;
    height: 21px;
    position: relative;

    @media (min-width: $dp-tablet) {
        display: none;
    }

    &::before, &::after {
        content: "";
        @include burger-menu;
        display: block;
        position: relative;
        top: 9px;
    }

    &::after {
        left: 11px;
        top: -3px;
        width: 15px;
    }
}

.header__burger-menu--active {
    border: none;

    &::before {
        transform: rotate(-45deg);
        @include burger-menu-active;
    }

    &::after {
        transform: rotate(45deg);
        width: 26px;
        top: 7px;
        left: 0px;
        @include burger-menu-active;
    }

}

.header__list {
    @include flexcenter(center, flex-start, column);

    @media (min-width: $dp-tablet) {
       flex-direction: row; 
       gap: 6.119792%;
       padding: 22px 0 18px 0;

   
       .header__link {
            font-weight: 700;
            font-size: 16px;
            line-height: 15px;
            color: $main-color;
            display: block;
            width: max-content;
            transition: 0.4s;

            @media (min-width: $dp-desctop) {
                &:hover {
                    color: $secondary-color;
                }
            }
       }
    }

    @media (min-width: $dp-desctop) {
        gap: 30px;
        padding: 0;
    }

    @media(min-width: 1060px) {
        gap: 48px;
    }
}

.header__list--drop-down-menu {
    width: 291px;
    height: 378px;
    background: #333333;
    position: absolute;
    z-index: 1;
    top: 61px;
    left: -266px;

    .header__link--drop-down-item {
        width: 100%;
        height: 91px;
        border-bottom: 3px solid #3B3B3B;
        @include flexcenter(flex-start, flex-end);
        
        .header__link--drop-down-link {
            font-weight: 400;
            font-size: 26px;
            line-height: 26px;
            color: $secondary-color;
            margin-left: 35px;
            margin-bottom: 27px;
        }
    }

    .header__link--drop-down-item-active {

        .header__link--drop-down-link {
            color: $main-color;
            margin-left: 39px;
            position: relative;

        &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 53px;
            background: $main-color;
            position: absolute;
            top: 50%;
            left: -29px;
            transform: translate(-50%, -50%);
        }
    }
  }
}

