.here-is-what-you-get {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color:#848E97;
    text-align: center;
    padding-bottom: 6px;
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        margin: 0 45px 36px;
        color: #8D81AC;
        grid-area: h;
        @media (min-width: 993px) {
            font-size: 48px;
            line-height: 50px;
            margin: 0;
        }
    }
    h3 {
        font-family: 'Montserrat', sans-serif;
        color: #323232;
        font-size: 16px;
        margin: 20px 25px 14px;
        @media (min-width: 481px) {
            margin: 0 0 15px;
        }
    }
    @media (min-width: 993px) {
        background: rgba(244, 244, 244, 1);
        padding-bottom: 33px;
        padding-top: 94px;
        display: grid;
        max-width: 1200px;
        margin: 0 auto;
        grid-template-columns: 40% 60%;
        grid-template-areas: "advantages h"
                             "advantages image"
                             "advantages image"
                             "advantages image"
                             "advantages image"
                             "advantages image"
                             "advantages image"
                             "advantages image";
    }
}

.here-is-what-you-get__section-wrapper {
    background: rgba(244, 244, 244, 1);
}

.here-is-what-you-get__wrapper {
    grid-area: advantages;
}


.here-is-what-you-get__advantage {
    margin: 0 25px 40px;
    @media (min-width: 481px) {
        display: flex;
        align-items: center;
        margin: 0 20px 60px 0;
        text-align: left;
    }
}

.here-is-what-you-get__editor-image {
    width: 100%;
    max-width: 100vw;
    max-width: 100dvw;
    grid-area: image;
    @media (min-width: 993px) {
        width: 100%;
    }
}

@media (min-width: 481px) {
    .here-is-what-you-get__first-advantage img {
        margin: 0 23px 0 30px;
    }
    .here-is-what-you-get__second-advantage img {
        margin: 0 43px 0 31px
    }
    .here-is-what-you-get__third-advantage img {
        margin: 0 58px 0 46px;
    }
    .here-is-what-you-get__fourth-advantage img {
        margin: 0 52px 0 41px;
    }
}


    