.fork-subscription {
    background-color: rgba(75,59,78,1);
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 32px;
        @media (min-width: 481px) {
            font-size: 42px;
            line-height: 44px;
        }
        @media (min-width: 993px) {
            margin-bottom: 61px;
            font-size: 48px;
            line-height: 50px;
        }
    }
}

.fork-subscription-pricing__wrapper {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: 1fr;
    grid-template-areas: "students"
                         "professional"
                         "agency"
                         "enterprise";
    justify-items: center;
    @media (min-width: 481px) {
        grid-template-columns: 1px 200px 200px;
        grid-template-rows: 1fr 26px 1fr 44px;
        justify-content: center;
        grid-gap: 30px 15px;
        grid-template-areas: ". students professional"
                             "agency agency ."
                             "agency agency enterprise"
                             "agency agency .";
    }
    @media (min-width: 993px) {
        grid-template-columns: 224px 224px 260px 224px;
        grid-template-rows: 51px 1fr 52px;
        grid-gap: 15px;
        justify-content: center;
        grid-template-areas: ". . agency ."
                             "students professional agency enterprise"
                             ". . agency .";
        padding-bottom: 97px;
    }
}

.fork-subscription-pricing__students {
    grid-area: students;
    .fork-subscription-pricing__benefits{
        @media (min-width: 481px) {
            margin-bottom: 30px;
        }
    }
    
}

.fork-subscription-pricing__professional {
    grid-area: professional;
}

.fork-subscription-pricing__agency {
    grid-area: agency;
}

.fork-subscription-pricing__enterprise {
    grid-area: enterprise;
}

.fork-subscription-pricing {
    width: 257px;
    @media (min-width: 481px) {
        width: 200px;
    }
    @media (min-width: 993px) {
        width: 224px;
    }
    button {
        border-radius: 40px;
        padding: 15px 37px;
        background-color: rgba(255, 255, 255, 0.15);
        text-transform: uppercase;
    }
    h3 {
        font-size: 24px;
        text-transform: uppercase;
    }
}

.fork-subscription-pricing__students, .fork-subscription-pricing__professional, .fork-subscription-pricing__enterprise {
    background-color: rgba(255,255,255,0.11);
    h3 {
        padding: 36px 0px;
        background-color: rgba(255,255,255,0.06);
        margin-bottom: 30px;
    }
    button {
        margin: 38px 0;
    }
}

.fork-subscription-pricing__price-standart {
    font-weight: 400;
    font-size: 60px;
    line-height: 62px;
    margin-bottom: 20px;
    span {
        font-weight: 700;
    }
}

.fork-subscription-pricing__period {
        line-height: 16px;
        text-transform: uppercase;
}

.fork-subscription-pricing__students .fork-subscription-pricing__period, .fork-subscription-pricing__professional .fork-subscription-pricing__period, .fork-subscription-pricing__enterprise .fork-subscription-pricing__period {
    margin-bottom: 73px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 56px;
        transform: translateX(-50%);
        width: 60px;
        height: 5px;
        background: #8D81AC;
    }
}

.fork-subscription-pricing__agency .fork-subscription-pricing__period {
    margin-bottom: 91px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 66px;
        transform: translateX(-50%);
        width: 60px;
        height: 5px;
        background: #8D81AC;
    }
}

.fork-subscription-pricing__agency {
    background: rgba(70, 48, 72, 0.84);
    width: 299px;
    @media (min-width: 481px) {
        width: 216px;
    }
    @media (min-width: 993px) {
        width: 260px
    }
    h3 {
        background: rgba(0, 0, 0, 0.11);
        padding: 43px 0px;
        margin-bottom: 14px;
    } 
    button {
        margin-bottom: 47px;
    }
}

.fork-subscription-pricing__price-agency {
    font-size: 82px;
    line-height: 84px;
    margin-bottom: 16px;
    span {
        font-weight: 700;
    }
}

.fork-subscription-pricing__students .fork-subscription-pricing__benefits, .fork-subscription-pricing__professional .fork-subscription-pricing__benefits, .fork-subscription-pricing__enterprise .fork-subscription-pricing__benefits {
    line-height: 28px;
}

.fork-subscription-pricing__agency .fork-subscription-pricing__benefits {
    line-height: 32px;
    margin-bottom: 83px;
}
