@import '../abstracts/mixins';
@import '../abstracts/variables';

.special-offer {
    @include flexcenter;
}

.special-offer__content-wrapper {
    padding-top: 36px;
    text-align: center;
    padding-bottom: 80px;

    @media (min-width: $dp-tablet) {
        padding-top: 47px;
        padding-bottom: 93px;
    }

    @media (min-width: $dp-desctop) {
        padding-top: 48px;
        padding-bottom: 66px;
    }

    .special-offer__text-content {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: $third-color;

        
        @media (min-width: $dp-tablet) {
            line-height: 16px;    
        }

        @media (min-width: $dp-desctop) {
            line-height: 15px;    
        }
    }
}
